<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	-->
	
  </configSections>
  <appSettings>
    <add key="DefaultActiveDirectoryServer" value="LDAP://Gcs-domain/dc=Gcsnc,dc=net"/>
	<add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <location path="login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="app_code">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="obout_styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	<location path="masterPages">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	
  <connectionStrings >
<add name="con" connectionString="Data Source=297-DB;Initial Catalog=ag;Uid=webuser;Pwd=web!54user;" providerName="System.Data.SqlClient"/>
  <add name="LDAPCONN" connectionString="Provider=ADSDSOObject;User Id=ldapbind;Password=ldapb!nd;" providerName="System.Data.OleDb"/>
  
  </connectionStrings>
  <system.web>
	  <pages validateRequest="false" />
	  <httpRuntime requestValidationMode="2.0" />
	  <customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
	  </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login/Login.aspx" protection="All" defaultUrl="default.aspx" name=".ASPXAUTH" timeout="60"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <identity impersonate="true"/>

	  <sessionState mode="InProc" customProvider="DefaultSessionProvider">
		  <providers>
			  <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
		  </providers>
	  </sessionState>

  </system.web>
  <system.webServer>
	  <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>